<app-group-modal-add></app-group-modal-add>
<app-group-modal-edit [groupToEdit]="groupToEdit"></app-group-modal-edit>
<div class="sticky-top overflow-hidden p-bottom">
    <div id="groups-header" class="col-12 d-flex align-items-center px-1 c-prim">
        <div class="p-2 flex-grow-1">
            <h6 class="m-0">
                <strong>Groups </strong>
                <small class="fw-lighter">{{groupsLength}}/{{maxCountOfGroups}}</small>
            </h6>
        </div>
        <div class="p-2">
            <button *ngIf="editMode" class="btn" type="button" title="Add New Group" (click)="showAddModal()">
                <i class="bi bi-plus-lg" style="color: white;"></i>
            </button>
        </div>
    </div>
    <hr class="m-0">
    <div class="text-center my-5" *ngIf="groupsService.loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!groupsService.loading && groupsLength == 0">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128"
             fill="#ededed" class="bi bi-collection-fill d-block mx-auto mt-2" viewBox="0 0 16 16">
            <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
        </svg>
        <div class="text-center">
            <small class="fw-light">Add some groups!</small>
        </div>
    </div>
    <div *ngFor="let group of groups">
        <app-group [group]="group" (showEditModalEvent)="showEditModal($event)"></app-group>
    </div>
</div>