<nav class="navbar navbar-expand navbar-dark c-dark" *ngIf="currentUser?.id">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{currentUser?.name}}</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" (click)="logout()">Close</a>
        </li>

        <li class="nav-item" *ngIf="currentUser?.editKey">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Settings</a>
          <div class="dropdown-menu dropdown-menu-end bg-light" style="z-index: 1025;">
            <app-settings></app-settings>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Shere</a>
          <div class="dropdown-menu dropdown-menu-end w-25 bg-light" style="z-index: 1025;">
            <app-shere></app-shere>
          </div>
        </li>

      </ul>
  </div>
</nav>