<div *ngIf="lesson?.isVisible" 
    [style.background]="lesson?.hexColor"
    [style.height]="height"
    [style.top]="offset"
    class="border border p-1 lesson-container">
    <div>
        <div class="d-inline">
            <small class="fw-lighter">{{lesson!.start | timetableHour}} - {{endDate | timetableHour}}</small>
        </div>
        <div *ngIf="editMode" class="d-inline float-end"> 
            <button class="btn dropdown-btn" type="button" title="Lesson Menu" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-card-text me-3"></i>Details</a></li> -->
                <li *ngIf="editMode"><a class="dropdown-item" href="javascript:void(0);" (click)="copy()"><i class="bi bi-clipboard-plus me-3"></i>Copy</a></li>
                <!-- <li *ngIf="editMode"><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-pencil me-3"></i>Edit</a></li> -->
                <li *ngIf="editMode"><a class="dropdown-item" href="javascript:void(0);" (click)="remove()"><i class="bi bi-trash me-3"></i>Delete</a></li>
            </ul>
        </div>
        <div class="float-none"></div>
    </div>
    <div class="text-truncate">
        <strong *ngIf="lesson?.link">
            <a href="{{lesson!.link}}" target="_blank">{{lesson!.name}}</a>
        </strong>
        <strong *ngIf="!lesson?.link">
            {{lesson!.name}}
        </strong>
        <br>
        {{lesson!.classroom}}
    </div>
</div>

