@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(180deg, rgb(5, 46, 118) 0%, #276268 70%);">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
