.week-header {
    min-height: 56px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2px;
    padding: 1px;
}

.plus {
    color: white;
}